body {
    margin:0
}
/*居中的div（勉强能用*/
.divJZ {
    overflow: hidden;
    background-color: white;
    width: 600px;
    height: 700px;
    text-align:center;
    padding:20px;
    border-radius: 5px;
   margin:0 auto;
}
/*不限制高度的div*/
.divJZ {
    overflow: hidden;
    background-color: white;
    width: 600px;
   height:auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}
/*按钮*/
.btncss {
    color: #ffffff;
    border: none;
    font-family: 'Microsoft YaHei';
    background-color: #45aee2;
    border-radius: 5px;
    padding:7px 20px 7px 20px;
    width: auto;
    height: auto;
}
    .btncss:hover {
        color: #fff;
        border: none;
        font-family: 'Microsoft YaHei';
        background-color: #459fe2;
        border-radius: 5px;
        padding: 7px 20px 7px 20px;
        width: auto;
        height: auto;
    }
    .btncss:active {
        color: #fff;
        border: none;
        font-family: 'Microsoft YaHei';
        background-color: #2c7ebb;
        border-radius: 5px;
        padding: 7px 20px 7px 20px;
        width: auto;
        height: auto;
    }

/*按钮-炫酷黑*/
.btncss_black {
    color: #ffffff;
    border: none;
    font-family: 'Microsoft YaHei';
    background-color: #1c1b1b;
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    width: auto;
    height: auto;
}
.btncss_black image{
    width:10px;height:10px;
}
    .btncss_black:hover {
        color: #fff;
        border: none;
        font-family: 'Microsoft YaHei';
        background-color: #534e4e;
        border-radius: 5px;
        padding: 7px 20px 7px 20px;
        width: auto;
        height: auto;
    }

    .btncss_black:active {
        color: #fff;
        border: none;
        font-family: 'Microsoft YaHei';
        background-color: #1c1b1b;
        border-radius: 5px;
        padding: 7px 20px 7px 20px;
        width: auto;
        height: auto;
    }

/*按钮-炫酷黑 长*/
.btncss_black_L {
    color: #ffffff;
    border: none;
    font-family: 'Microsoft YaHei';
    background-color: #1c1b1b;
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
    width: 50px;
    height: 400px;
   
    text-wrap:unset;
}

    .btncss_black_L:hover {
        color: #fff;
        border: none;
        font-family: 'Microsoft YaHei';
        background-color: #534e4e;
        border-radius: 5px;
        padding: 7px 20px 7px 20px;
        text-wrap: normal;
        width: 50px;
        height: 400px;
    }

    .btncss_black_L:active {
        color: #fff;
        border: none;
        font-family: 'Microsoft YaHei';
        background-color: #1c1b1b;
        border-radius: 5px;
        padding: 7px 20px 7px 20px;
        text-wrap: normal;
        width: 50px;
        height: 400px;
    }

.texttitle {
    font-family: 'Microsoft YaHei';
    font-weight: 500;
    font-size: 26px;
    color: #534e4e;
    text-wrap: normal
}
    .textzw{
        font-family:'Microsoft YaHei';
        font-weight:400;
        font-size:16px;
        color:#534e4e;
        letter-spacing:2px;
        text-wrap:normal
    }

  /*表格用的样式*/
.grid {
    width: 1000px
}
    .grid table td {
        background: #f1f1f1;
        color: #000;
        line-height: 50px
    } 