body {
}
.title {
    font-family: 'Microsoft YaHei';
    font-size: 35px;
    font-weight: 700;
}

.jiage {
    font-family: 'Microsoft YaHei';
    font-size: 35px;
    font-weight: 700;
    color: #808080;
   
}